
@using System.Web.UI.WebControls
@*@model EventManagement.Models.DTO.ProgramView*@

@model List<EventManagement.Models.DTO.ProgramView>

@{
    var ProgramWebGrid = new WebGrid(Model, canPage: true, rowsPerPage: 1);

    ProgramWebGrid.Pager(WebGridPagerModes.NextPrevious);

    <div id="gridContent">
        @ProgramWebGrid.GetHtml(

        columns: ProgramWebGrid.Columns(
        ProgramWebGrid.Column("ProgramID", "Program ID"),
        ProgramWebGrid.Column("Name", "Program Name"),
        ProgramWebGrid.Column("Product", "Product Name")
        //,
        //ProgramWebGrid.Column("ProgramID", format: (item) => Html.ActionLink("View", "View", new { ProgramID = item.ProgramID })),
        //ProgramWebGrid.Column("ProgramID", format: (item) => Html.ActionLink("Edit", "Edit", new { ProgramID = item.ProgramID })),
        //ProgramWebGrid.Column("ProgramID", format: (item) => Html.ActionLink("Delete", "Delete", new { ProgramID = item.ProgramID }))
        )
        )
    </div>
}

