<div align="center">
    <div style="background-color: #edeff2">
        <p>
            <span>@Html.ActionLink("About", "Home")</span>
            <span>@Html.ActionLink("Contact", "Home")</span>
        </p>
    </div>
    <div style="background-color: #DCDCDC;overflow: auto">
        @RenderBody()
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
