<div align="center">
    <div style="background-color: #edeff2">
        <p>
            <span>@Html.ActionLink("Meeting", "Program")</span>
            <span>@Html.ActionLink("Meeting Search", "Program")</span>
        </p>
        <p>
            @RenderSection("WelcomeUser",false)
        </p>
    </div>
    <div>
        @RenderBody()
    </div>
</div>

